<div class='px-pagemargin py-xs text-center 2xl:container {{ section.settings.background_color }} {{ section.settings.text_color }} grid grid-cols-1 gap-y-2xs'>
  <p class='caption'>&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url }}</p>
  {%- if section.settings.menu.links != blank -%}
    <nav class='flex items-center justify-center gap-xs flex-wrap'>
      {% for link in section.settings.menu.links %}
        <a href='{{ link.url }}' class='caption underline'>{{ link.title }}</a>
      {% endfor %}
    </nav>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.footer_legal.name",
  "limit": 1,
  "enabled_on": {
    "groups": ["footer"]
  },
  "presets": [
    {
      "name": "t:sections.footer_legal.name"
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "background_color",
      "label": "t:sections.footer.settings.background_color.label",
      "options": [
        {
          "group": "Primitives",
          "value": "bg-p-darkest",
          "label": "Darkest"
        },
        {
          "group": "Primitives",
          "value": "bg-p-dark",
          "label": "Dark"
        },
        {
          "group": "Primitives",
          "value": "bg-p-neutral",
          "label": "Neutral"
        },
        {
          "group": "Primitives",
          "value": "bg-p-light",
          "label": "Light"
        },
        {
          "group": "Primitives",
          "value": "bg-p-lightest",
          "label": "Lightest"
        },
        {
          "group": "Tokens",
          "value": "bg-t-foreground",
          "label": "Foreground"
        },
        {
          "group": "Tokens",
          "value": "bg-t-foreground-secondary",
          "label": "Foreground Secondary"
        },
        {
          "group": "Tokens",
          "value": "bg-t-background",
          "label": "Background"
        },
        {
          "group": "Tokens",
          "value": "bg-t-background-secondary",
          "label": "Background Secondary"
        },
        {
          "group": "Tokens",
          "value": "bg-t-brand-primary",
          "label": "Brand Primary"
        },
        {
          "group": "Tokens",
          "value": "bg-t-brand-secondary",
          "label": "Brand Secondary"
        },
        {
          "group": "Tokens",
          "value": "bg-t-brand-primary-contrast",
          "label": "Brand Primary Contrast"
        },
        {
          "group": "Tokens",
          "value": "bg-t-brand-secondary-contrast",
          "label": "Brand Secondary Contrast"
        }
      ],
      "default": "bg-t-background"
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "t:sections.footer.settings.text_color.label",
      "options": [
        {
          "group": "Primitives",
          "value": "text-p-darkest",
          "label": "Darkest"
        },
        {
          "group": "Primitives",
          "value": "text-p-dark",
          "label": "Dark"
        },
        {
          "group": "Primitives",
          "value": "text-p-neutral",
          "label": "Neutral"
        },
        {
          "group": "Primitives",
          "value": "text-p-light",
          "label": "Light"
        },
        {
          "group": "Primitives",
          "value": "text-p-lightest",
          "label": "Lightest"
        },
        {
          "group": "Tokens",
          "value": "text-t-foreground",
          "label": "Foreground"
        },
        {
          "group": "Tokens",
          "value": "text-t-foreground-secondary",
          "label": "Foreground Secondary"
        },
        {
          "group": "Tokens",
          "value": "text-t-background",
          "label": "Background"
        },
        {
          "group": "Tokens",
          "value": "text-t-background-secondary",
          "label": "Background Secondary"
        },
        {
          "group": "Tokens",
          "value": "text-t-brand-primary",
          "label": "Brand Primary"
        },
        {
          "group": "Tokens",
          "value": "text-t-brand-secondary",
          "label": "Brand Secondary"
        },
        {
          "group": "Tokens",
          "value": "text-t-brand-primary-contrast",
          "label": "Brand Primary Contrast"
        },
        {
          "group": "Tokens",
          "value": "text-t-brand-secondary-contrast",
          "label": "Brand Secondary Contrast"
        }
      ],
      "default": "text-p-darkest"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:sections.footer_legal.link_list.settings.menu.label",
      "info": "t:sections.footer_legal.link_list.settings.menu.info"
    }
  ]
}
{% endschema %}
