{%- assign customer_reset_password = 'customer.reset_password.password' | t -%}
{%- assign customer_reset_password_confirm = 'customer.reset_password.password_confirm' | t -%}
{%- assign customer_submit = 'customer.reset_password.submit' | t -%}

{%- capture title -%}{{ 'customer.reset_password.title' | t }}{%- endcapture -%}
{%- capture subtext -%}{{ 'customer.reset_password.subtext' | t }}{%- endcapture -%}
{%- capture content -%}
  {%- form 'reset_customer_password', class: 'grid grid-cols-1 gap-y-xs' -%}
    {%- render 'form-errors', form: form -%}

    <div>
      {% liquid
        assign has_error = blank
        assign error_text = blank
        if form.errors contains 'password'
          assign has_error = true
        endif
      %}
      {%- if form.errors contains 'password' -%}
        {%- capture error_text -%}
          {{ form.errors.translated_fields.password | capitalize }}
          {{ form.errors.messages.password }}
        {%- endcapture -%}
      {%- endif -%}

      {%- render 'form-field',
        kind: 'input',
        type: 'password',
        name: 'customer[password]',
        id: 'password',
        autocomplete: 'new-password',
        label: customer_reset_password,
        error: has_error,
        error_text: error_text
      -%}
    </div>

    <div>
      {% liquid
        assign has_error = blank
        assign error_text = blank
        if form.errors contains 'password_confirmation'
          assign has_error = true
        endif
      %}
      {%- if form.errors contains 'password_confirmation' -%}
        {%- capture error_text -%}
          {{ form.errors.translated_fields.password_confirmation | capitalize }}
          {{ form.errors.messages.password_confirmation }}
        {%- endcapture -%}
      {%- endif -%}

      {%- render 'form-field',
        kind: 'input',
        type: 'password',
        name: 'customer[password_confirmation]',
        id: 'password_confirmation',
        autocomplete: 'new-password',
        label: customer_reset_password_confirm,
        error: has_error,
        error_text: error_text
      -%}
    </div>

    <button class='btn' variant='primary'>
      {{ customer_submit }}
    </button>
  {%- endform -%}

  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when '@app' -%}
        {% render block %}
    {%- endcase -%}
  {%- endfor -%}
{%- endcapture -%}

{%- render 'customer-form-content', content: content, title: title, subtext: subtext -%}

{% schema %}
{
  "name": "t:sections.main-reset-password.name",
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
